body{
    margin: 0;
    padding: 0;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-top: 200px;
    /* background-color: orange; */
}
.slider-page{
    height: 400px;
    width: 400px;
    background-image: linear-gradient(rgb(224, 8, 188),rgba(192, 4, 239, 0.612),rgb(8, 187, 242));
    box-shadow: 10px 10px 10px  rgb(109, 100, 100);
    border-radius: 15px;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-right: 10em;
    display: flex;
    
}
.marging-slot{
    height: 400px;
    width: 400px;
    background-image: linear-gradient(rgb(244, 8, 201),rgba(192, 4, 239, 0.612),rgb(8, 187, 242));
    box-shadow: 10px 10px 10px  rgb(109, 100, 100);
              
    border-radius: 15px;
    display: flex;
    /* text-align: center; */
     align-items: center;
    justify-content: center; 
    /* clip-path: polygon(100 0,100 76,0 100,75 100); */
}

    

.slider-page  h1{
    text-decoration: none;
    color: rgba(108, 240, 15, 0.945);
    /* justify-content: center;
    align-items: center;
    margin-top: 150px; */
}
.marging-slot h1{
    text-decoration: none;
    color: rgb(255, 4, 12);
    /* justify-content: center;
    align-items: center;
    margin-top: 150px; */
}
.slider-page:hover{
    transform: translate(y);
    background-color: blueviolet;
    color: aqua;
}