body{
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Slab', serif;
}
h1{
    font-size: 50px;
    letter-spacing: 2px;
}
.letter-color{
    color:orange;
}
.ground-layer{

    display: flex;
}
.top-banner{
    width: 50%;
    padding-left: 10px;
    margin-left: 5%;
    margin-right: 5%;
}
.top-banner img{
    width: 80%;
    padding:1%;
}
.btn-class{
    text-decoration: none;
    padding: 10px 40px;
    background-color: orangered;
    color: white;
    border-radius: 8px;
    
}
.btn-class:hover{
    background-color: green;
    transition: translateY(12px);
}

.top-head{
    height: 300px;
    width: auto;
    background-color: rgb(223, 15, 174);
    clip-path: polygon(100% 0%, 0% 100%, 100% 100%, 100% 100%);
    
  } 
.experience-area{
    display: flex;
    padding-left: 20px;
}
.experiance-item{
    width: 40%;
    height: auto;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 20px;
    box-shadow: 10px 20px  8px grey;
}
/* #marvel-eyes{
    margin-left: 6px solid orangered;
    color: aqua;
}
#middle-child{
    margin-left: 6px solid purple;
} */
.gm-pm{
    padding-left: 2%;
    margin-left: 5%;
}
.last-child{
    height: 200px;
    color: rgb(21, 20, 20);
    text-align: center;
    justify-content: center;
    padding-top: 130px;
    align-items: center;
    /* background-image: linear-gradient(orangered,orange,purple); */
   
}
.last-child-gm{
    height: 800;
    color: rgb(23, 22, 22);
    /* background-image: linear-gradient(orangered,orange,purple); */
    /* clip-path: polygon(100% 0%, 0% 100%, 100% 100%, 100% 100%); */
    
}
.flxible-container{
    display: flex;
    
}

