body{
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Slab', serif;
}
h1{
    font-size: 50px;
    letter-spacing: 2px;
}
.letter-color{
    color:orange;
}
section{
    display: flex;
}
.top-banner{
    width: 50%;
    padding-left: 10px;
}
.top-banner img{
    width: 80%;
    padding-top: 2%;
}
.btn-class{
    text-decoration: none;
    padding: 10px 40px;
    background-color: orangered;
    color: white;
    border-radius: 8px;
}
.ground-layer{
    height: 600px;
    background-image: linear-gradient(purple,orangered,aqua,yellow);
}